In [6]:
## imports 
import pandas as pd
import numpy as np
import yaml
import warnings
warnings.filterwarnings("ignore", category=UserWarning)

# comment these out if you don't have plotnine--not essential here/only used once
import matplotlib.pyplot as plt
# import plotnine
# from plotnine import *

## way to connect to mysql 
## if you need to install
## uncomment this line:
#! pip install mysql-connector-python
import mysql.connector

## function to feed path name to load
## credentials
def load_creds(path: str):
    with open(path, 'r') as stream:
        try:
            creds = yaml.safe_load(stream)
        except yaml.YAMLError as exc:
            print(exc)
    return(creds)

pd.options.display.max_rows = 999
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Preliminary: define connection and read sample of data

In [7]:
## read in creds; change the path name if stored
## elsewhere
creds = load_creds("09_db_cred.yaml")

In [8]:
creds

{'practice_database': {'user': 'qss20',
  'password': 'xtPdDZHnxKMFSD5RyP',
  'port': 3306,
  'database': 'sentencing',
  'host': 'qss20-7570-db.c.dartmouth.edu'}}

In [12]:
## connect to the database
cnx = mysql.connector.connect(user=creds['practice_database']['user'], 
                            password=creds['practice_database']['password'],
                            port=creds['practice_database']['port'],
                            database= creds['practice_database']['database'],
                            host = creds['practice_database']['host'])
cnx

# Activity 1

1. Create a new column -- `in_chicago` when pulling from the `caseinit` table that takes on the value of "YES" if INCIDENT_CITY = Chicago; "NO" otherwise (which represents incidents in Cook County suburbs outside the city limits);  and pull the table. Use `crosstabs` to confirm that this worked
2. Repeat step 1 but also filter out blank strings (`INCIDENT_CITY` == "")
3. Use `where` to row filter to initiations in Chicago and use group by to find the count of cases diverted and not diverted (`is_in_diversion`); pull the table with those counts
4. Modify the query in step 3 to find the proportion of cases in chicago diverted (hint you made need to use case when in a subquery)
5. Modify the query in step 4 to find the proportion of cases in chicago versus cases not in chicago sent to diversion

In [32]:
# your code here 1
chicago_q = """
SELECT *,
       CASE
         WHEN INCIDENT_CITY = "Chicago" THEN 'YES'
         ELSE 'NO'
       END AS in_chicago_1
FROM   caseinit
"""

chicago_d = pd.read_sql_query(chicago_q, cnx)

In [33]:
chicago_d.in_chicago_1

0          NO
1          NO
2          NO
3          NO
4          NO
         ...
272289    YES
272290     NO
272291    YES
272292    YES
272293     NO
Name: in_chicago_1, Length: 272294, dtype: object

In [36]:
pd.crosstab(columns=chicago_d['in_chicago_1'], index=chicago_d['INCIDENT_CITY'])

in_chicago_1              NO     YES
INCIDENT_CITY
                       20557       0
Addison                    2       0
Albers                     1       0
Algonquin                  3       0
Alsip                    568       0
Antioch                    2       0
Arlington Heights       1291       0
Aurora                     3       0
Barrington               136       0
Barrington Hills          16       0
Bartlett                 241       0
Bedford Park             335       0
Beecher                    1       0
Bellwood                 848       0
Bensenville                3       0
Berkeley                 160       0
Berwyn                  2152       0
Bloomingdale               1       0
Bloomington                1       0
Blue Island             1192       0
Bluff Springs              1       0
Bolingbrook                5       0
Bourbonnais                1       0
Braidwood                  1       0
Bridgeview               704       0
Brighton                   1       0
Broadview                558       0
Brookfield               338       0
Brookport                  1       0
Buffalo Grove            245       0
Burbank                  575       0
Burlington                 1       0
Burnham                  238       0
Burr Ridge                57       0
Calumet City            1972       0
Calumet Park             434       0
Cambria                    1       0
Canton                     1       0
Cary                       1       0
Cedar Lake                 2       0
Channahon                  2       0
Chestnut                   1       0
Chicago                    0  173573
Chicago Heights         2039       0
Chicago Ridge            472       0
Cicero                  4263       0
Cimic                      1       0
Country Club Hills       529       0
Countryside              223       0
Crestwood                374       0
Crete                      2       0
Darien                     1       0
Deerfield                 59       0
DesPlaines              1374       0
Dixmoor                   98       0
Dixon                      1       0
Dolton                  1209       0
Downers Grove              4       0
East Chicago               2       0
East Hazel Crest         174       0
Elgin                    499       0
Elk Grove Village        767       0
Elkhart                    1       0
Elmhurst                  24       0
Elmwood                    1       0
Elmwood Park             660       0
Evanston                1772       0
Evansville                 1       0
Evergreen Park          1414       0
Ewing                      3       0
Flossmoor                297       0
Ford Heights             488       0
Forest City                1       0
Forest Park             1502       0
Forest View               56       0
Frankfort                  1       0
Franklin Park            734       0
Glen Ellyn                 2       0
Glencoe                  118       0
Glendale Heights           1       0
Glenview                 694       0
Glenwood                 258       0
Golf                       1       0
Griffith                   1       0
Gurnee                     6       0
Halstead                   1       0
Hammond                    5       0
Hanover                    1       0
Hanover Park             847       0
Harvey                  2080       0
Harwood Heights          264       0
Hazel Crest              399       0
Hickory Hills            311       0
Highland Park              1       0
Highwood                   1       0
Hillside                 526       0
Hinckley                   1       0
Hines                     45       0
Hinsdale                  23       0
Hobart                     1       0
Hodgkins                 395       0
Hoffman                    1       0
Hoffman Estates         1048       0
Homer Glen                 2       0
Hometown                  86       0
Homewood                1126       0
Indian Head Park          43       0
Ingleside                  2       0
Inverness                 11       0
Itasca                     1       0
Jefferson Park             9       0
Joliet                     4       0
Justice                  443       0
Kenilworth                14       0
LaGrange                 186       0
LaGrange Highlands         8       0
LaGrange Park             79       0
Lake Barrington            1       0
Lake Bluff                 2       0
Lake In The Hills          1       0
Lake Zurich                2       0
Lansing                 1072       0
Lemont                   296       0
Lincolnwood              352       0
Lombard                    1       0
Lynwood                  260       0
Lyons                    287       0
Markham                  885       0
Marseilles                 2       0
Matteson                1065       0
Maywood                 1526       0
McCook                    65       0
Melrose Park            1226       0
Merrionette Park          47       0
Midlothian               568       0
Minneapolis                1       0
Mokena                     1       0
Monee                      1       0
Morton                     2       0
Morton Grove             386       0
Mount Greenwood           10       0
Mount Prospect          1195       0
Mundelein                  1       0
Munster                    1       0
Naperville                 4       0
New Lenox                  2       0
Niles                    799       0
Norridge                 477       0
North Chicago              1       0
North Riverside          879       0
Northbrook               608       0
Northfield                83       0
Northlake                635       0
Oak Brook                  9       0
Oak Brook Mall             1       0
Oak Forest               439       0
Oak Lawn                1775       0
Oak Park                1749       0
Oakbrook Terrace           1       0
Olympia FIELDS             2       0
Olympia Fields           149       0
Orland Hills             115       0
Orland Park             1870       0
Oswego                     1       0
Palatine                1359       0
Palos Heights            181       0
Palos Hills              218       0
Palos Park                90       0
Park City                  5       0
Park Forest              908       0
Park Ridge               329       0
Phoenix                   73       0
Pinckneyville              1       0
Plato Center               1       0
Pontiac                    3       0
Portage                    1       0
Posen                    345       0
Prospect Heights         436       0
Ransom                     1       0
Richton Park             347       0
River Forest             753       0
River Grove              287       0
Riverdale                766       0
Riverside                358       0
Robbins                  289       0
Rockford                   3       0
Rolling Meadows          539       0
Roselle                   43       0
Rosemont                 760       0
Round Lake                 2       0
Saint Charles              3       0
Sauget                     1       0
Sauk Village             875       0
Savanna                    1       0
Schaumburg              1850       0
Schererville               1       0
Schiller Park            589       0
Sheridan                   1       0
Skokie                  1532       0
South Barrington         191       0
South Bend                 1       0
South Chicago Heights    145       0
South Holland            621       0
Steger                    91       0
Steward                    1       0
Stickney                 167       0
Stone Park               193       0
Streamwood              1198       0
Summit                   438       0
Summit Argo                4       0
Thornton                  42       0
Tinley Park              735       0
University Park           10       0
Vernon Hills               1       0
Waukegan                   5       0
West Chicago               1       0
West Dundee                1       0
Westchester              341       0
Western Springs           52       0
Westmont                   1       0
Wheaton                    4       0
Wheeling                1094       0
Willow Springs            82       0
Willowbrook                2       0
Wilmette                 333       0
Winnetka                 129       0
Wood Dale                  3       0
Woodstock                  1       0
Worth                    284       0

In [28]:
# your code here 2
filter_blank_q = """
SELECT INCIDENT_CITY,
       CASE
         WHEN INCIDENT_CITY = "Chicago" THEN 'YES'
         ELSE 'NO'
       END AS in_chicago_1
FROM   caseinit
WHERE INCIDENT_CITY <> ""
"""

In [37]:
# your code here 3
# filter_chicago_q = """
# SELECT *,
# FROM caseinit
#     INNER JOIN (SELECT INCIDENT_CITY,
  #              CASE
   #             WHEN INCIDENT_CITY = "Chicago" THEN 'YES'
    #            ELSE "NO"
     #           END AS in_chicago_1
      #          FROM caseinit) AS tmp
       #     ON tmp.INCIDENT_CITY = caseinit.INCIDENT_CITY
#WHERE in_chicago_1 = "YES"
#"""

In [51]:
# your code here 3
prop_chicago_q = """
SELECT is_in_diversion,
        Count(*) AS count
FROM  caseinit
WHERE INCIDENT_CITY = "Chicago"
GROUP BY is_in_diversion
"""

filter_chicago_d = pd.read_sql_query(filter_chicago_q, cnx)

In [52]:
filter_chicago_d

  is_in_diversion   count
0           False  167171
1            True    6402

In [ ]:
# your code here 4
filter_chicago_q = """
SELECT abg(is_div_bool) AS prop
FROM (
    SELECT *,
        CASE
            WHEN is_in_diversion = "True" THEN 1
            ELSE 0
        END AS is_div_bool
)
"""

In [ ]:
# your code here 5
q = """
SELECT
    avg(is_div_bool) as prop,
    in_chicago_1
FROM (
    SELECT *,
        CASE
            WHEN is_in_diversion = "True" THEN 1
            ELSE 0
        END AS is_div_bool,
        CASE
            WHEN INCIDENT_CITY = "Chicago" THEN "YES"
            ELSE "NO"
        END AS in_chicago_1
    FROM caseinit) AS d
WHERE INCIDENT_CITY <> ""
GROUP BY in_chicago_1
"""

In [ ]:
WITH s1 AS (
    SELECT 
        *,
        CASE 
            WHEN is_in_diversion = True THEN 1
            ELSE 0
        END as is_div_bool,
        CASE 
            WHEN INCIDENT_CITY = 'Chicago' THEN 'Yes'
            ELSE 'No'
        END AS in_chicago_1
    FROM SQL_Test.caseinit)
SELECT 
    AVG(is_div_bool) as prop_div, 
    in_chicago_1
FROM s1
WHERE INCIDENT_CITY <> ''
GROUP BY in_chicago_1

# Activity 2 

1. Use the following crosswalk and the `CASE` variable in the `divert` table to create a new variable `DIVERSION_PROGRAM_TEXT` that spells out the diversion programs
    - DC: Drug Court

    - DDPP: Drug Deferred Prosecution

    - DS: Drug School

    - RJCC: Restorative Justice

    - MHC: Mental Health Court

    - VC: Veteran Court

2. Build on the query from step 1 to filter to Narcotics as the `UPDATED_OFFENSE_CATEGORY` and Black or White defendants (based on race in the diversions table) (hint: you'll need to join with the caseinit table based on case_id and case_participant_id, you can do a inner join to keep only those diverted). Select the case_id, case_participant_id, case, race, and diversion_program_text columns

In [59]:
# your code here 1
divert_q = """
SELECT *
FROM divert
"""

divert_d = pd.read_sql_query(divert_q, cnx)

In [61]:
divert_d.DIVERSION_PROGRAM

0          DS
1          VC
2         MHC
3         MHC
4         MHC
         ...
25490    DDPP
25491    DDPP
25492    DDPP
25493    DDPP
25494     BR9
Name: DIVERSION_PROGRAM, Length: 25495, dtype: object

In [ ]:
# your code here 2